In [ ]:
import os
import glob
import pandas as pd

BASE_PATH = 'data/ETRI/ETRI_lifelog_dataset/ch2025_data_items'
SAVE_CSV = False  # True로 설정하면 CSV 저장됨
SAVE_DIR = 'analysis_results'

# 📂 parquet 파일 목록 확인
parquet_files = glob.glob(os.path.join(BASE_PATH, 'ch2025_*.parquet'))
print(f"총 parquet 파일 수: {len(parquet_files)}")

lifelog_data = {}

for i, file_path in enumerate(parquet_files):
    key = os.path.basename(file_path).replace('.parquet', '').replace('ch2025_', '')
    print(f"[{i+1}/{len(parquet_files)}] 로딩 중: {key}")
    
    try:
        df = pd.read_parquet(file_path)
        lifelog_data[key] = df
        print(f"✅ {key} shape: {df.shape}")
    except Exception as e:
        print(f"❌ {key} 에러 발생: {e}")

print("✅ 전체 처리 완료")

총 parquet 파일 수: 12
[1/12] 로딩 중: mACStatus
✅ mACStatus shape: (939896, 3)
[2/12] 로딩 중: mActivity
✅ mActivity shape: (961062, 3)
[3/12] 로딩 중: mAmbience
✅ mAmbience shape: (476577, 3)
[4/12] 로딩 중: mBle
✅ mBle shape: (21830, 3)
[5/12] 로딩 중: mGps
✅ mGps shape: (800611, 3)
[6/12] 로딩 중: mLight
✅ mLight shape: (96258, 3)
[7/12] 로딩 중: mScreenStatus
✅ mScreenStatus shape: (939653, 3)
[8/12] 로딩 중: mUsageStats
✅ mUsageStats shape: (45197, 3)
[9/12] 로딩 중: mWifi
✅ mWifi shape: (76336, 3)
[10/12] 로딩 중: wHr
✅ wHr shape: (382918, 3)
[11/12] 로딩 중: wLight
✅ wLight shape: (633741, 3)
[12/12] 로딩 중: wPedo
✅ wPedo shape: (748100, 9)
✅ 전체 처리 완료

In [9]:
df.describe(include='all')
df.nunique()

:

:

In [8]:
df = lifelog_data['mAmbience']
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 476577 entries, 0 to 476576
Data columns (total 3 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   subject_id  476577 non-null  object
 1   timestamp   476577 non-null  datetime64[ns]
 2   m_ambience  476577 non-null  object
dtypes: datetime64[ns](1), object(2)
memory usage: 10.9+ MB

,subject_id,timestamp,m_ambience
0,id01,2024-06-26 13:00:10,"[[Music, 0.30902618], [Vehicle, 0.081680894], ..."
1,id01,2024-06-26 13:02:10,"[[Music, 0.62307084], [Vehicle, 0.021118319], ..."
2,id01,2024-06-26 13:04:10,"[[Horse, 0.25209898], [Animal, 0.24263993], [C..."
3,id01,2024-06-26 13:06:10,"[[Speech, 0.93433166], [Inside, large room or ..."
4,id01,2024-06-26 13:08:10,"[[Speech, 0.8935082], [Inside, small room, 0.0..."